In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('train.csv')
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
print(df['Name'])

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [22]:
df['Title'] = df['Name'].str.extract(r',\s([A-Za-z ]+)\.')
hi_names = df[df['Name'].str.contains('the Countess', na=False)]['Name']
print(hi_names)

759    Rothes, the Countess. of (Lucy Noel Martha Dye...
Name: Name, dtype: object

In [23]:
titles = {}
for title in df['Title']:
    if title in titles:
        titles[title] += 1
    else:
        titles[title] = 1
print(titles)
count = 0
for value in titles.values():
    count += value
print(count)

{'Mr': 517, 'Mrs': 125, 'Miss': 182, 'Master': 40, 'Don': 1, 'Rev': 6, 'Dr': 7, 'Mme': 1, 'Ms': 1, 'Major': 2, 'Lady': 1, 'Sir': 1, 'Mlle': 2, 'Col': 2, 'Capt': 1, 'the Countess': 1, 'Jonkheer': 1}
891

In [24]:
titles2 = {}
for index, row in df.iterrows():
    if(row['Survived'] == 1):
        if row['Title'] in titles2:
            titles2[row['Title']] += 1
        else:
            titles2[row['Title']] = 1
print(titles2)

{'Mrs': 99, 'Miss': 127, 'Mr': 81, 'Master': 23, 'Mme': 1, 'Ms': 1, 'Major': 1, 'Lady': 1, 'Sir': 1, 'Dr': 3, 'Mlle': 2, 'Col': 1, 'the Countess': 1}